.background .content img.asset__store {
  height: auto;
  width: 7.5rem;
}

section#landing {
  background: url('../assets/landing.jpg') no-repeat center;
}

section#landing .foreground {
  background: url('../assets/landing.png') no-repeat center;
}

section#landing .content h1 {
  color: #101010;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

section#visit {
  background: url('../assets/visit.jpg') no-repeat center;
}

section#visit .foreground {
  background: url('../assets/visit.png') no-repeat center;
 
}

section#retargeting {
  background: url('../assets/retargeting.jpg') no-repeat center;
}

section#retargeting .foreground {
  background: url('../assets/retargeting.png') no-repeat center;
}

section#cookies {
  background: url('../assets/cookies.jpg') no-repeat center;
}

section#cookies .foreground {
  background: url('../assets/cookies.png') no-repeat center;
}

section#everywhere {
  background: url('../assets/everywhere_bg.png') no-repeat center;
}

section#everywhere .foreground {
  background: url('../assets/everywhere.png') no-repeat center;
}

section#conclusion {
  background: url('../assets/conclusion.jpg') no-repeat center;
}

section#conclusion .foreground {
  background: url('../assets/conclusion.png') no-repeat center;
}

@media (min-width: 30rem) {}

@media (min-width: 60rem) {
  section {
    height: 105vh;
  }
}

@media (min-width: 88rem) {}